POSTGRES_DB=honda_workshop
POSTGRES_USER=honda_owner
POSTGRES_PORT=5432
POSTGRES_PASSWORD=
POSTGRES_RUNTIME_PASSWORD=
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=honda_workshop
DATABASE_USER=honda_runtime
DATABASE_PASSWORD=
SESSION_COOKIE_NAME=honda_session
BOOTSTRAP_ADMIN_EMAIL=admin@honda.local
BOOTSTRAP_ADMIN_NAME=System Administrator
BOOTSTRAP_ADMIN_PASSWORD=
